<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="css/index.css">
  <link rel="stylesheet" type="text/css" href="../css/shareContent.css">
  <link rel="stylesheet" type="text/css" href="../css/popup.css">
  <title>ShareServer</title>
</head>
<body>
  <div class="urlLine">This URL : <%= thisAppUrl %></div>
  <div id ="uploadButton" class="uploadButton">UPLOAD</div>
  <div id="shareList"></div>
</body>
<script type="text/javascript" src="scripts/modules/jquery/jquery-3.7.1.min.js"></script>
<script type="module" src="scripts/index.js"></script>
</html>